In [ ]:
import pandas as pd
from datetime import datetime

import matplotlib.pyplot as plt
import matplotlib
plt.rc('font',family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
cur = datetime.now()
cur

### 시계열데이터정의
1. 인덱스가 datetime형
2. 시계열데이터의 indexing, slicing 을 활용, resample 함수 사용가능

In [ ]:
data = [[1,2],[3,4],[5,8],[7,6],[9,12],[11,10],[13,16],[15,20]]
df = pd.DataFrame(data)
df.index = ['2022-01-01','2022-02-01','2022-03-01','2022-04-01',
            '2022-05-01','2022-06-01','2022-07-01','2022-08-01']

df

In [ ]:
df.index = pd.to_datetime(df.index, format="%Y-%m-%d")

In [ ]:
data = [[1,2],[3,4],[5,8],[7,6],[9,12],[11,10],[13,16],[15,20]]
df = pd.DataFrame(data)
df.index = ['2022년01월01일','2022년02월1일','2022년03월01일','2022년04월01일',
            '2022년05월01일','2022년06월01일','2022년07월01일','2022년08월01일']

In [ ]:
df.index = pd.to_datetime(df.index, format="%Y년%m월%d일")

## 이동평균 : 시계열 데이터의 추세

In [ ]:
df.rolling(window=2).mean()

In [ ]:
df.rolling(window=3).mean()

In [ ]:
plt.plot(df.index,df[1])
plt.show()

In [ ]:
# 추세
plt.plot(df.index,df[1])
plt.plot(df.index,df.rolling(window=2).mean()[1],'r--')
plt.show()

In [ ]:
import FinanceDataReader as fdr
df = fdr.DataReader('215600','2018')
df.head()

In [ ]:
# samsung electornics
df = fdr.DataReader('005930','2017-01-01')
df.head()

In [ ]:
df.index

In [ ]:
df.rolling(window=20).mean()['Close']

In [ ]:
plt.figure(figsize=(14,10))
plt.plot(df.index, df['Close'])
plt.plot(df.index, df.rolling(window=20).mean()['Close'], '--r')
plt.show()

### 시계열데이터 인덱싱
### 시계열데이터 슬라이싱

In [ ]:
# 시계열데이터 인덱싱
df.loc['2017']

In [ ]:
df.loc['2017-07']

In [ ]:
df.loc['2017':'2019']

In [ ]:
df.loc['2017-12':'2019-01']

In [28]:
## 년도별 평균
df['year'] = df.index.year
df.groupby('year').mean()

,Open,High,Low,Close,Volume,Change
year,,,,,,
2017,46409.251029,46836.588477,46003.485597,46414.897119,2.304805e+05,0.001539
2018,46216.147541,46699.627049,45690.122951,46830.122951,7.767970e+06,-0.000985
2019,46563.414634,46989.024390,46122.154472,46583.333333,1.089653e+07,0.001593
2020,57133.064516,57821.370968,56475.604839,57153.225806,2.206350e+07,0.001722
2021,79257.661290,79912.500000,78567.741935,79155.645161,1.878421e+07,-0.000043
2022,64302.575107,64802.145923,63757.081545,64239.914163,1.471402e+07,-0.001076

In [31]:
df.groupby(df.index.month).mean()

,Open,High,Low,Close,Volume,Change,year,month
Date,,,,,,,,
1,58096.854839,58854.266129,57398.629032,58088.225806,1.353802e+07,0.001807,2019.467742,1.0
2,57834.216216,58403.324324,57240.072072,57779.729730,1.110078e+07,-0.001287,2019.468468,2.0
3,56463.039062,57063.437500,55887.804688,56469.687500,1.394987e+07,-0.000350,2019.500000,3.0
4,56279.357143,56708.801587,55757.539683,56675.158730,1.052416e+07,0.001664,2019.523810,4.0
5,55136.302521,55611.428571,54610.756303,55947.142857,1.373823e+07,-0.000873,2019.521008,5.0
6,56297.398374,56770.406504,55809.674797,56276.910569,1.407037e+07,-0.000252,2019.528455,6.0
7,55942.575758,56370.530303,55472.878788,55886.060606,1.074078e+07,0.000920,2019.500000,7.0
8,55131.406250,55594.687500,54591.796875,55042.812500,1.217166e+07,-0.001033,2019.484375,8.0
9,55734.341880,56202.726496,55259.119658,55730.085470,1.202374e+07,0.000900,2019.512821,9.0
10,55532.669565,56086.513043,54993.260870,55475.478261,1.210249e+07,0.000395,2019.530435,10.0
11,57884.053846,58395.192308,57268.138462,57847.307692,1.180563e+07,0.001178,2019.500000,11.0
12,59770.366972,60435.596330,59279.174312,59901.192661,1.370141e+07,0.002631,2019.293578,12.0

In [30]:
df.groupby(['year','month']).mean()

                    Open          High           Low         Close  \
year month
2017 1      37340.000000  37825.950000  37079.000000  37486.000000
     2      38577.900000  38911.950000  38275.900000  38571.000000
     3      40889.954545  41447.272727  40740.863636  41166.363636
     4      41909.950000  42261.000000  41549.000000  41959.000000
     5      45590.526316  46040.000000  45188.421053  45550.526316
...                  ...           ...           ...           ...
2022 8      60186.363636  60686.363636  59781.818182  60272.727273
     9      55720.000000  56220.000000  55235.000000  55595.000000
     10     56563.157895  57384.210526  56026.315789  56710.526316
     11     61009.090909  61463.636364  60463.636364  61090.909091
     12     60375.000000  60787.500000  59712.500000  60062.500000

                  Volume    Change
year month
2017 1      2.205060e+05  0.004693
     2      2.385224e+05 -0.001254
     3      2.387765e+05  0.003224
     4      2.382620e+05  0.004081
     5      2.716123e+05  0.000205
...                  ...       ...
2022 8      1.144006e+07 -0.001209
     9      1.443077e+07 -0.005727
     10     1.718619e+07  0.006090
     11     1.321282e+07  0.002220
     12     1.246500e+07 -0.005402

[72 rows x 6 columns]

In [32]:
df.groupby([df.index.year,df.index.month]).mean()

                   Open          High           Low         Close  \
Date Date
2017 1     37340.000000  37825.950000  37079.000000  37486.000000
     2     38577.900000  38911.950000  38275.900000  38571.000000
     3     40889.954545  41447.272727  40740.863636  41166.363636
     4     41909.950000  42261.000000  41549.000000  41959.000000
     5     45590.526316  46040.000000  45188.421053  45550.526316
...                 ...           ...           ...           ...
2022 8     60186.363636  60686.363636  59781.818182  60272.727273
     9     55720.000000  56220.000000  55235.000000  55595.000000
     10    56563.157895  57384.210526  56026.315789  56710.526316
     11    61009.090909  61463.636364  60463.636364  61090.909091
     12    60375.000000  60787.500000  59712.500000  60062.500000

                 Volume    Change    year  month
Date Date
2017 1     2.205060e+05  0.004693  2017.0    1.0
     2     2.385224e+05 -0.001254  2017.0    2.0
     3     2.387765e+05  0.003224  2017.0    3.0
     4     2.382620e+05  0.004081  2017.0    4.0
     5     2.716123e+05  0.000205  2017.0    5.0
...                 ...       ...     ...    ...
2022 8     1.144006e+07 -0.001209  2022.0    8.0
     9     1.443077e+07 -0.005727  2022.0    9.0
     10    1.718619e+07  0.006090  2022.0   10.0
     11    1.321282e+07  0.002220  2022.0   11.0
     12    1.246500e+07 -0.005402  2022.0   12.0

[72 rows x 8 columns]

## 시계열 데이터 집계전용함수 : resample

In [33]:
df

             Open   High    Low  Close    Volume    Change  year  month
Date
2017-01-02  35980  36240  35880  36100     93012  0.001665  2017      1
2017-01-03  36280  36620  36020  36480    147153  0.010526  2017      1
2017-01-04  36500  36520  36100  36160    159435 -0.008772  2017      1
2017-01-05  36060  36060  35540  35560    219349 -0.016593  2017      1
2017-01-06  36180  36440  36040  36200    177619  0.017998  2017      1
...           ...    ...    ...    ...       ...       ...   ...    ...
2022-12-06  59800  60100  59200  59200  13888300 -0.018242  2022     12
2022-12-07  58800  59600  58500  58900  12100662 -0.005068  2022     12
2022-12-08  58700  59200  58600  59200  12986815  0.005093  2022     12
2022-12-09  59300  60600  59300  60400  10529632  0.020270  2022     12
2022-12-12  59900  60000  59400  59500   4484196 -0.014901  2022     12

[1462 rows x 8 columns]

In [34]:
# 연별 집계
df.resample(rule='A').mean()

,Open,High,Low,Close,Volume,Change,year,month
Date,,,,,,,,
2017-12-31,46409.251029,46836.588477,46003.485597,46414.897119,2.304805e+05,0.001539,2017.0,6.456790
2018-12-31,46216.147541,46699.627049,45690.122951,46830.122951,7.767970e+06,-0.000985,2018.0,6.483607
2019-12-31,46563.414634,46989.024390,46122.154472,46583.333333,1.089653e+07,0.001593,2019.0,6.520325
2020-12-31,57133.064516,57821.370968,56475.604839,57153.225806,2.206350e+07,0.001722,2020.0,6.516129
2021-12-31,79257.661290,79912.500000,78567.741935,79155.645161,1.878421e+07,-0.000043,2021.0,6.556452
2022-12-31,64302.575107,64802.145923,63757.081545,64239.914163,1.471402e+07,-0.001076,2022.0,6.261803

In [35]:
# 월별 집계
df.resample(rule='M').mean()

,Open,High,Low,Close,Volume,Change,year,month
Date,,,,,,,,
2017-01-31,37340.000000,37825.950000,37079.000000,37486.000000,2.205060e+05,0.004693,2017.0,1.0
2017-02-28,38577.900000,38911.950000,38275.900000,38571.000000,2.385224e+05,-0.001254,2017.0,2.0
2017-03-31,40889.954545,41447.272727,40740.863636,41166.363636,2.387765e+05,0.003224,2017.0,3.0
2017-04-30,41909.950000,42261.000000,41549.000000,41959.000000,2.382620e+05,0.004081,2017.0,4.0
2017-05-31,45590.526316,46040.000000,45188.421053,45550.526316,2.716123e+05,0.000205,2017.0,5.0
...,...,...,...,...,...,...,...,...
2022-08-31,60186.363636,60686.363636,59781.818182,60272.727273,1.144006e+07,-0.001209,2022.0,8.0
2022-09-30,55720.000000,56220.000000,55235.000000,55595.000000,1.443077e+07,-0.005727,2022.0,9.0
2022-10-31,56563.157895,57384.210526,56026.315789,56710.526316,1.718619e+07,0.006090,2022.0,10.0
2022-11-30,61009.090909,61463.636364,60463.636364,61090.909091,1.321282e+07,0.002220,2022.0,11.0
2022-12-31,60375.000000,60787.500000,59712.500000,60062.500000,1.246500e+07,-0.005402,2022.0,12.0

In [36]:
# 분기별 집계
df.resample(rule='Q').mean()

,Open,High,Low,Close,Volume,Change,year,month
Date,,,,,,,,
2017-03-31,38998.983871,39461.258065,38764.467742,39141.935484,2.328008e+05,0.002253,2017.0,2.032258
2017-06-30,44668.316667,45070.666667,44335.000000,44711.666667,2.425341e+05,0.002486,2017.0,5.016667
2017-09-30,48827.468750,49206.234375,48364.640625,48804.062500,2.263177e+05,0.001284,2017.0,8.000000
2017-12-31,53586.912281,54057.087719,52982.684211,53436.140351,2.199427e+05,0.000052,2017.0,11.052632
2018-03-31,49162.950820,49731.475410,48516.721311,49073.114754,3.046720e+05,-0.000388,2018.0,1.983607
2018-06-30,47359.166667,47827.316667,46735.333333,49909.000000,9.651518e+06,-0.000743,2018.0,4.966667
2018-09-30,46051.639344,46469.672131,45650.000000,46078.688525,9.944799e+06,0.000042,2018.0,7.918033
2018-12-31,42372.580645,42851.612903,41937.096774,42383.064516,1.114639e+07,-0.002819,2018.0,10.967742
2019-03-31,43903.389831,44361.016949,43431.355932,43960.169492,1.220284e+07,0.002574,2019.0,1.966102
2019-06-30,44647.580645,45063.709677,44208.064516,44666.129032,1.089301e+07,0.000919,2019.0,4.951613
2019-09-30,45719.841270,46104.761905,45338.095238,45749.206349,9.476117e+06,0.000770,2019.0,7.936508
2019-12-31,51867.741935,52313.709677,51393.548387,51844.354839,1.110025e+07,0.002171,2019.0,10.983871
2020-03-31,55817.741935,56661.290323,54999.193548,55833.870968,2.478453e+07,-0.002135,2020.0,2.032258
2020-06-30,50488.524590,51054.098361,49862.295082,50483.606557,2.157059e+07,0.001856,2020.0,5.032787
2020-09-30,56754.687500,57257.812500,56121.875000,56562.500000,1.977054e+07,0.001653,2020.0,7.968750
2020-12-31,65511.475410,66359.016393,64960.655738,65783.606557,2.219652e+07,0.005579,2020.0,11.032787
2021-03-31,83928.333333,85070.000000,83040.000000,83886.666667,2.643395e+07,0.000246,2021.0,2.033333
2021-06-30,81904.761905,82338.095238,81344.444444,81795.238095,1.679760e+07,-0.000092,2021.0,5.000000
2021-09-30,77862.903226,78325.806452,77237.096774,77709.677419,1.704810e+07,-0.001300,2021.0,7.951613
2021-12-31,73534.920635,74136.507937,72841.269841,73433.333333,1.519392e+07,0.000967,2021.0,11.047619
2022-03-31,73683.050847,74069.491525,73000.000000,73488.135593,1.391222e+07,-0.001929,2022.0,2.016949
2022-06-30,65280.645161,65748.387097,64795.161290,65188.709677,1.691102e+07,-0.003134,2022.0,4.983871
2022-09-30,58538.095238,59104.761905,58074.603175,58546.031746,1.336704e+07,-0.001014,2022.0,7.984127
2022-12-31,59181.632653,59771.428571,58620.408163,59224.489796,1.463142e+07,0.002476,2022.0,10.775510

In [37]:
# 주간별 집계 (월 ~ 일)
df.resample(rule='W').mean()

,Open,High,Low,Close,Volume,Change,year,month
Date,,,,,,,,
2017-01-08,36200.0,36376.0,35916.00,36100.0,159313.60,0.000965,2017.0,1.00
2017-01-15,37500.0,38115.8,37300.00,37800.0,247745.80,0.007138,2017.0,1.00
2017-01-22,37064.0,37624.0,36684.00,37048.0,208966.00,-0.001313,2017.0,1.00
2017-01-29,38270.0,39010.0,38155.00,38880.0,242537.50,0.017733,2017.0,1.00
2017-02-05,39610.0,39680.0,39219.75,39350.0,287791.25,-0.002742,2017.0,1.75
...,...,...,...,...,...,...,...,...
2022-11-20,62260.0,62500.0,61540.00,62040.0,13345692.20,-0.003446,2022.0,11.00
2022-11-27,61220.0,61540.0,60700.00,61080.0,8471475.80,-0.002572,2022.0,11.00
2022-12-04,61280.0,61800.0,60500.00,61180.0,13466944.80,-0.001749,2022.0,11.40
2022-12-11,59500.0,60120.0,59120.00,59600.0,12654639.20,0.000080,2022.0,12.00
2022-12-18,59900.0,60000.0,59400.00,59500.0,4484196.00,-0.014901,2022.0,12.00

In [ ]:
# 주간별 집계
df.resample(rule='W').mean()

## problem 
#### TEAM3
#### 분기별 집계

In [41]:
df_2014=pd.read_csv('../../99_raw_data/2014년 졸음운전 교통사고.csv',encoding='cp949')
df_2015=pd.read_csv('../../99_raw_data/2015년 졸음운전 교통사고.csv',encoding='cp949')
df_2016=pd.read_csv('../../99_raw_data/2016년 졸음운전 교통사고.csv',encoding='cp949')

In [43]:
df=pd.concat([df_2014,df_2015,df_2016])

In [46]:
df.set_index('구분',inplace=True)
df.index = pd.to_datetime(df.index, format='%Y년%m월')

In [50]:
df.resample(rule='Q').mean()

                 사고(건)      사망(명)       부상(명)
구분
2014-03-31  173.333333   7.333333  324.333333
2014-06-30  211.000000  11.333333  430.333333
2014-09-30  225.333333  12.666667  436.000000
2014-12-31  199.000000  12.000000  369.000000
2015-03-31  205.666667   6.666667  414.000000
2015-06-30  221.666667   9.000000  463.666667
2015-09-30  264.333333  12.000000  530.333333
2015-12-31  208.666667   8.333333  433.666667
2016-03-31  194.333333   6.000000  383.333333
2016-06-30  218.333333  10.666667  434.333333
2016-09-30  214.666667   9.666667  432.333333
2016-12-31  183.666667   6.333333  383.000000